.logo {
	height: 32px;
	background: rgba(255,255,255,.2);
	margin: 16px;
	text-align: center;
	line-height: 32px;
	color: #FFF;
	font-size: 20px;
	overflow: hidden;
}

.header {
	background: #fff;
	padding-left: 0;
}
.content {
	padding: 24px;
	background: #fff;
	min-height: 360px;
}
.footer {
	text-align: center;
}

.trigger {
	font-size: 18px;
	line-height: 64px;
	padding: 0 24px;
	cursor: pointer;
	transition: color .3s;
}

.trigger:hover {
	color: #1890ff;
}



:global(.ant-menu-item) .link {
	color: rgba(255, 255, 255, 0.65);
	display: inline-block;
}
